{% extends "base.html" %}

{% block title %} Home | Games Library {% endblock %}

{% block content %}


<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h1>Welcome to GAMEX!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium vestibulum arcu eget fringilla. Praesent vehicula vestibulum odio vel interdum. Phasellus efficitur sapien lacus, vitae pretium quam lobortis nec. Nunc lacinia mauris vel orci vehicula maximus. Nam et nisi ante. Quisque placerat, sapien vitae viverra sollicitudin, mauris mauris finibus nisi, sit amet vulputate tellus arcu a turpis. Quisque sit amet mattis urna, nec sodales metus. Pellentesque mi nunc, elementum vel varius condimentum, luctus eget purus. Cras aliquet vitae justo nec malesuada. Curabitur a facilisis magna. Nullam ac viverra libero, id congue arcu. Donec vel porta orci, id venenatis nunc. Nullam interdum massa eu dui imperdiet, quis mattis felis aliquam.</p>
    <p>Suspendisse et nisl ut est vehicula porta. Duis eu urna ac mauris ultrices porta ut eget tellus. Cras sit amet facilisis urna. Donec elementum tempor urna vel accumsan. In sit amet ligula et ligula blandit lacinia. Proin convallis nulla faucibus erat pulvinar, a feugiat lacus laoreet. Integer ac massa augue. Nullam interdum metus ac dui gravida, in congue turpis hendrerit. Aliquam ut venenatis ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur viverra, urna porta commodo mattis, velit odio convallis erat, non dictum diam metus in elit. In iaculis, libero in ornare venenatis, ante purus eleifend neque, eget maximus est felis ac felis. Cras consectetur augue vitae augue interdum, eu facilisis dui semper. Nam eget purus lorem. </p>

    <h3> This is what our users think about their games! </h3>

    <div class="row row-cols-4">
        {% for review in recent_reviews %}
        <div class="col" style="margin-bottom: 25px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{review.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><i>A review of {{review.game.name }} by {{review.user}} &mdash; {{review.rating}}</i></h6>
                <p class="card-text">{{review.text|truncatechars:255}}</p>
                <a href="{% url 'show_review' review.id %}" class="btn btn-primary">Read review</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

    <h3>Recently Added Games</h3>
    <div class="row row-cols-4">
        {% for game in recent_games %}
        
        <div class="col">

            

            <div class="card" style="width: 18rem; margin-bottom: 50px; max-height: 500px;">
                <img src="{{game.cover.url}}" class="card-img-top" alt="..." style="height:100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{game.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{game.developer.name}}</h6>
                    <p class="card-text">{{game.description|safe|truncatechars:140}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{game.pub_date.date}}</small></p>
                  <a href="{% url 'game' game.id %}" class="btn btn-primary">Go to game page</a>
                </div>
              </div>
        </div>
        {% endfor %}
        </div>
    </div>


</div>




{% endblock %}